body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(211, 211, 211);
    overflow-x: hidden;
}
.navbar{
    height: 12vh;
    width: 100vw;
    background-color: black;
    display: flex;
    position: fixed;
    z-index: 999;
}

.filter-container{
    height: 8vh;
    width: 20vw;
    background-color: aquamarine;
    margin: 2vh 5vw 2vh 5vw;
    display: flex;
}

.filter{
    height: 8vh;
    width: 5vw;
    background-color: blueviolet;
    border: 1px solid black;
}

.filter:hover, .filter-container .active{
    background-color: #000000e5;
    cursor: pointer;
}

.filter div{
    height: 4vh;
    width: 3vw;
    margin: 2vh 1vw;
}

.red-color-btn, .btn-red{
    background-color: red;
}
.orange-color-btn, .btn-orange{
    background-color: orange;
}
.yellow-color-btn, .btn-yellow{
    background-color: yellow;
}
.green-color-btn, .btn-green{
    background-color: green;
}

.title-box{
    width: auto;
    height: 8vh;
    margin: 2vh 9vw;
}
.title{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 6vh;
    font-weight: 500;
    background: -webkit-linear-gradient(red, orange, yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add-delete-container{
    height: 8vh;
    width: 8vw;
    background-color: blueviolet; 
    align-items: flex-end;
    margin: 2vh 5vw 2vh 16vw;
    display: flex;
}

.add, .delete{
    height: 8vh;
    width: 4vw;
    background-color: blueviolet;
    border: 1px solid black;
}

.add:hover, .delete:hover{
    background-color: black;
    cursor: pointer;
}

.action-btn{
    height: 4vh;
    width: 2vw;
    background-color: white;
    margin: 2vh 1vw;
    border: 1px solid black;
}

.ticket-box{
    min-height: 88vh;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 12vh;
}

.modal{
    height: 36vh;
    width: 30vw;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    position: absolute;
    left: 34vw;
    top: 25vh;
    box-shadow: 0 0 30px rgb(14, 12, 12);
    display: none;
    /* opacity: 0; */
}

.ticket{
    height: 36vh;
    width: 23vw;
    background-color: white;
    outline: none;
    padding: 45px;
    font-size: 18px;
    overflow-y: scroll;
}

.priorities-box{
    height: 36vh;
    width: 7vw;
    background-color: black;
}
.priority-container{
    height: 9vh;
    width: 7vw;
    background-color: blueviolet;
    border: 1px solid black;
}
.priorities-box .active, .priorities-box .priority-container:hover{
    background-color: black;
}
.priority-btn{
    height: 5vh;
    width: 3vw;
    margin: 2vh 2vw;
}

.ticket-display{
    height: 34vh;
    width: 18vw;
    overflow-y: hidden; 
    overflow-x: hidden;
}
.ticket-color{
    height: 3vh;
    width: 18vw;
    /* background-color: red; */
}
.ticket-id{
    height: 2vh;
    width: 18vw;
    /* background-color: blueviolet; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    background-color:rgb(211, 211, 211);
}
.task{
    height: 29vh;
    width: 18vw;
    background-color: white;
    padding: 10px;
    font-size: 18px;
}
.active-ticket{
    border: 1px solid black;
}

.full-ticket-display{
    height: 36vh;
    width: 30vw;
    overflow-y: scroll;
    background-color: white;
    position: absolute;
    left: 34vw;
    top: 25vh;
    box-shadow: 0 0 30px rgb(14, 12, 12);
    display: none;
}
.full-ticket-display-task{
    height: 34vh;
    width: 28vw;
    outline: none;
    padding-left: 8px;
    padding-top: 8px; 
    font-size: 18px;
}
.cross-btn{
    width: 3vw;
    height: 4vh;
    position: absolute;
    margin-top: 15vh;
    margin-left: 27vw;
    font-size: 35px;
    color:black;
    display: none;
    /* background-color: white */
}
.cross-btn:hover{
    cursor: pointer;
    font-size: 37px;
}
